<form id="add-event-form" method="POST" action="/events/add-event-form">
    <label for="event-name">Event Name</label>
    <input type="text" class="form-control" id="event-name" placeholder="Name">

    <label for="venue-name">Venue Name</label>
    <input type="text" class="form-control" id="event-name" placeholder="Name">

    <label for="date">Date:</label>
    <input type="text" class="form-control" id="date" placeholder="YYYY-DD-MM">
                
    <label for="time">Time:</label>
    <input type="text" class="form-control" id="time" placeholder="HH:MM">
                
    <label for="address-line-1">Address Line 1</label>
    <input type="text" class="form-control" id="address-line-1" placeholder="street">
                
    <label for="address-line-2">Address Line 2</label>
    <input type="text" class="form-control" id="address-line-2" placeholder="Apt, suite, PO box">
                
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" placeholder="City">
                
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" placeholder="State">
                
    <label for="zip-code">Zip Code</label>
    <input type="text" class="form-control" id="zip-code" placeholder="Zip">
                
    <label for="latitude">Latitude</label>
    <input type="text" class="form-control" id="latitude" placeholder="Coordinates">
                
    <label for="longitude">Longitude</label>
    <input type="text" class="form-control" id="longitude" placeholder="Coordinates">
                
    <label for="event-cap">Event Capacity</label>
    <input type="text" class="form-control" id="event-cap" placeholder="Capacity">
                
    <label for="entry-fee">Entry Fee</label>
    <select class="form-control" id="entry-fee">
        <option>Yes</option>
        <option>No</option>
    </select>
                
    <label for="ticket-price">Ticket Price</label>                
	<input type="text" class="form-control" id="ticket-price" placeholder="Price">
	
    {{!--
    <lable for="add-tag">Tags</lable>
	<input type="text" class="form-control" id="add-tag" placeholder="">
					 <button class="btn btn-primary">add tag</button>
					 <br>
					 <h5>LAN<button class="btn btn-danger">Remove</button></h5>
					 <h5>Beer<button class="btn btn-danger">Remove</button></h5>
					 <h5>Crab<button class="btn btn-danger">Remove</button></h5>
					 <br>
                
    <button class="btn btn-primary" type="submit">Submit</button>
    --}}
</form>