title {
    text-align: center;
}
*[data-href] {
    cursor: pointer;
}

#eventListing {
    z-index: -1;
}

#deleteEventButton {
    z-index: 1;
}

#eventListing:hover {
    background-color: rgb(206, 255, 255);
}

#event-details {
    padding-top: 20px;
}

#event-title {
    text-align: center;
}         