title {
    text-align: center;
}
*[data-href] {
    cursor: pointer;
}

#event-listing:hover {
    background-color: rgb(206, 255, 255);
}

#event-details {
    padding-top: 20px;
}

#event-title {
    text-align: center;
}         